@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.welcome {
  @apply text-5xl text-green-300;
}

.navigation {
  @apply bg-[#A2D9FF]
    w-full
    font-elsie
    text-2xl
    flex
    items-start
    text-gray-500
      h-[75px]
      absolute
      z-50
      p-3 
      sm:p-8
      justify-center
      align-baseline;
}

.navigation-link {
  @apply hover:text-black;
}

.navbar-links {
  @apply flex w-full h-auto flex-col md:flex-row md:justify-end;
}

.title-container {
  @apply flex;
}

.navigation-icon {
  @apply invisible sm:visible;
}

.homepage-container,
.projects-container,
.blog-container {
  @apply flex pt-56 sm:pt-48 pb-32 mx-auto overflow-hidden flex-col sm:flex-row bg-gradient-to-br from-green-300 via-blue-500 to-purple-600;
}

.grid-layout {
  @apply sm:grid sm:grid-cols-3 sm:gap-y-7;
}

.react-pdf__Page__annotations {
  height: 0 !important;
  width: 0 !important;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 90% !important;
  height: 100% !important;
}

.project-card {
  @apply overflow-hidden container mx-auto flex w-[350px] h-[200px] border-2 my-3 shadow-lg rounded-lg transition
  duration-100 ease-out
 hover:scale-105 cursor-pointer;
}

.post-card {
  @apply container overflow-hidden mx-auto flex flex-col w-[90%] h-auto border-2 my-6 sm:my-0 sm:mb-3 shadow-lg transition
  duration-100 ease-out
 hover:scale-105 cursor-pointer;
}

.post-container {
  @apply w-full;
}

.featured-container {
  @apply w-[50%] h-[300px] border-2;
}

.footer {
  @apply font-elsie text-gray-300 flex flex-col items-center content-center align-middle bg-gradient-to-t from-gray-400 via-gray-700 to-blue-700 h-[150px] justify-center;
}
